cython
numpy
pandas
matplotlib
#netCDF4
folium
lxml
nltk
scipy
scikit-learn
pysd
google-api-python-client
earthengine-api
fiona
geopandas
psycopg2
requests
bs4
selenium
django
python-telegram-bot
mitmproxy